@import "constants";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $light-grey !important;
}

input[type="text"]:focus {
  border-color: transparent;
  box-shadow: unset;
  z-index: 0 !important;
}

.btn-search {
  background-color: $light-grey !important;
  border: 0 !important;
}

.btn-primary {
  background-color: $blue !important;
  border-color: $blue !important;
}

.pointer {
  cursor: pointer;
}

.shipping-icon {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-top: 20px;
}
